@import './partials/circleCursor', url(http://fonts.googleapis.com/css?family=Inter) ;
$Inter: 'Inter';
$cursor-color-main: #ffffff;
$cursor-color-light: #333333;
$primary-color-main: #2B2B2B;
$secondary-color-main: #313030;
$accent-color-main: #ffffff;
$font-color-main: #ffffff;

@font-face {
    font-family: "HEADING";
    src: url("../FONTS/Inter-VariableFont_slnt\,wght.ttf");
}

.header{
    font-size: 11vh;
    padding-bottom: 10vh;
}
.navbar{
    z-index: 1000;
    color: $font-color-main;
}

nav {
    z-index: 1000;
    color: $font-color-main;
}
html,
body {
    font-family: 'Inter' !important;
    color: white;
    background-color: $primary-color-main;
    max-width: 100%;
    overflow-x: hidden;
}

img {
    margin: auto;
}

.card {
    background-color: $secondary-color-main;
    color: $font-color-main;
}

div {
    font-family: 'Inter';
    color: white;

}


nav {
    background-color: $primary-color-main;

    .offcanvas-header,
    .offcanvas-body {
        background-color: $primary-color-main;
        color: $font-color-main;
    }
}

*,
*:before,
*:after 
*:after{
    box-sizing: border-box;
    &:hover{
        cursor: none !important;
    }
}

h1,
h2,
h3,
h4,
h6 {
    font-family: 'Inter' !important;
    font-weight: 400;
}

.center{
    text-align: center;
    margin: auto;
}
h5{
font-size: 7vh;
color: $font-color-main;
font-weight: bolder;
}
h2{
    font-size: 3.2;
}

h3 {
    font-size: 3.1;
}

.card-body{
    text-align: center;
    button{
        margin-left: 2vh;
        margin-right: 2vh;
        padding-left: 2vh;
            padding-right: 2vh;
    }
}

img {
    max-width: 100%;
}

.container {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    padding: 2rem 1rem;
}

.col {
    padding: 1rem;
}

* {
    cursor: none;
}

p{
    font-size: 3vh;
}
.contentSections {
    color: white;
    // margin-top: 15% !important;
    // margin-bottom: 22.5% !important;
}

nav {
    padding-bottom: 30%;
}

#sec-resume button {
    background-color: $secondary-color-main;
    color: $font-color-main;
    font-size: 3vh;
    
}

.tab-content {
    text-align: center;
}

i {
    color: $primary-color-main;
}

.btn,
button {
    background-color: $accent-color-main !important;
    border: none;
    cursor: none;
    font-size: large !important;
    color: $primary-color-main !important;
    &:hover {
        cursor: none !important;
    }

    &:active {
        cursor: none !important;
    }
}

.resume-btn{
    background-color: $primary-color-main !important;
        color: $font-color-main !important;
        font-size: 4vh !important;
}

.resume-btn-group{
    border-right: 3px solid $accent-color-main;
}
.my-3 {
    margin {
        top: 3%;
        bottom: 3%;
    }
}

h1 {
   font-size: 8vh;
}


.form-controls {
    textarea{
        width:100%;
    }
    margin-top: 1.5vh;
    margin-bottom: 2vh;
    color: $font-color-main  !important;
    background-color: $primary-color-main  !important;
    border: none !important;
    border-bottom: $accent-color-main  !important;

    ::placeholder {
        color: $font-color-main  !important;
        opacity: 1;
        border: none !important;
        
    }

    &:active {
        background-color: $primary-color-main  !important;
        color: $font-color-main  !important;
        border: none !important;
    }

    &:focus {
        background-color: $primary-color-main  !important;
        color: $font-color-main  !important;
        border: none !important;
    }
}

.column-2 {
    text-align: center;

    ul li {
        list-style: none;
    }
}

.fp-watermark{
    display: none;
}

span{
    background-color: $accent-color-main !important;
}

.nav-list a{
    font-size: 13vh !important;
    text-decoration: none !important;
    color: $font-color-main !important;
    text-decoration: none !important;
    &:hover{
        border-right: 5px solid $accent-color-main;
        padding-right: 5%;
        padding-left: 5%;
        transition: 1;
    }
}

.img-fluid {
    /* or to whatever you want here */
    max-height: 40vh;
    /* or to whatever you want here */
}

.btn-close{
    background-color: $accent-color-main;
}



.row.single-form {
    box-shadow: 0 2px 20px -5px $primary-color-main;
}

.left {
    background: $secondary-color-main;
    padding: 180px 98px;
}

.left h2 {
    font-family: poppins;
    color: #fff;
    font-weight: 700;
    font-size: 48px;
}

.left h2 span {
    font-weight: 100;
}

.single-form {
    background: $accent-color-main;
}

.right {
    padding: 50px 100px;
    position: relative;
}

.right i {
    position: absolute;
    font-size: 80px;
    left: -27px;
    top: 40%;
    color: $accent-color-main;
}

.form-control {
    border: 2px solid $primary-color-main;
}

.right button {
    border: none;
    border-radius: 0;
    background: #252525;
    width: 180px;
    color: $accent-color-main;
    padding: 15px 0;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

.right button:hover {
    background-color: $secondary-color-main;
}


/*responsive*/

@media (min-width:768px) and (max-width:991px) {
    .right i {
        top: -52px;
        transform: rotate(90deg);
        left: 50%;
    }
}

@media (max-width:767px) {
    .left {
        padding: 90px 15px;
        text-align: center;
    }

    .left h2 {
        font-size: 25px;
    }

    .right {
        padding: 25px;
    }

    .right i {
        top: -52px;
        transform: rotate(90deg);
        left: 46%;
    }

    .right button {
        width: 150px;
        padding: 12px 0;
    }

}
label{
    color: $primary-color-main !important;
}
input{
    ::placeholder{
        color:$primary-color-main !important;
    }
}

.btn-primary{
    border: 2px solid $primary-color-main !important; 
text-align: center;
}


.section-title {
    position: fixed;
    top: 50px;
    /* adjust to desired fixed position */
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
    /* set z-index higher than other elements to keep it on top */
}

.section h1 {
    position: absolute;
    top: 20px;
    left: 20px;
}

.section.projectSection h1 {
    position: relative;
}

.section .text-container {
    max-width: 800px;
    margin: 0 auto;
    padding-left: 1vw;
    padding-right: 1vw;
}

// .padding-1vw{
// padding-left: 1vw;
//     padding-right: 1vw;
// }
.navbar-toggler-icon{
width:3em;
height: 3em;
}



center img{
    height: 50vh !important;
}

.fp-tooltip{
    font-size: 1.5em !important;
    margin-right: 1vw !important;
}