@import './partials/circleCursor', url(https://fonts.googleapis.com/css?family=Open+Sans:400|Raleway:300);
$open-sans: 'Open Sans', Helvetica, arial, sans-serif;
$raleway: 'Raleway', 'Open Sans', sans-serif;
$cursor-color-main: #ffffff;
$cursor-color-light: #333333;
$primary-color-main: #2B2B2B;
$secondary-color-main: #313030;
$accent-color-main: #ffffff;
$font-color-main: #ffffff;


html, body{
    font-family: $open-sans;
    color: white;
    background-color: $primary-color-main;
    max-width: 100%;
    overflow-x: hidden;
}

div{
    font-family: $open-sans;
        color: white;

}
nav{
    background-color: $primary-color-main;
    .offcanvas-header, .offcanvas-body{
            background-color: $primary-color-main;
            color:$font-color-main;
    }
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $raleway;
    // text-align: center;
}

img {
    max-width: 100%;
}

.container {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    padding: 2rem 1rem;
}

.col {
    padding: 1rem;
}

* {
    cursor: none;
}

.contentSections{
    color:white ;
}

nav{
    padding-bottom: 30%;
}

#sec-resume button {
    background-color: $secondary-color-main;
    color: $font-color-main;
}

.tab-content{
    text-align: center;
}

i {
    color: $primary-color-main;
}

.btn,
button {
    background-color: $accent-color-main;
    border: none;
    cursor: none;

    &:hover {
        background-color: $accent-color-main;
        cursor: none !important;
    }

    &:active {
        background-color: $accent-color-main !important;
        cursor: none !important;
    }
}