@import url(https://fonts.googleapis.com/css?family=Open+Sans:400|Raleway:300);
@import url(http://fonts.googleapis.com/css?family=Inter);
.cursor-dot,
.cursor-dot-outline {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  mix-blend-mode: difference;
  transition: transform 0.2s;
  z-index: 9999 !important;
}

.cursor-dot {
  width: 8px;
  height: 8px;
  background-color: #ffffff;
}

.cursor-dot-outline {
  position: absolute;
  border: solid 3px #ffffff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  z-index: 9999 !important;
}

@font-face {
  font-family: "HEADING";
  src: url("../FONTS/Inter-VariableFont_slnt,wght.ttf");
}
.header {
  font-size: 11vh;
  padding-bottom: 10vh;
}

.navbar {
  z-index: 1000;
  color: #ffffff;
}

nav {
  z-index: 1000;
  color: #ffffff;
}

html,
body {
  font-family: "Inter" !important;
  color: white;
  background-color: #2B2B2B;
  max-width: 100%;
  overflow-x: hidden;
}

img {
  margin: auto;
}

.card {
  background-color: #313030;
  color: #ffffff;
}

div {
  font-family: "Inter";
  color: white;
}

nav {
  background-color: #2B2B2B;
}
nav .offcanvas-header,
nav .offcanvas-body {
  background-color: #2B2B2B;
  color: #ffffff;
}

*,
*:before,
*:after *:after {
  box-sizing: border-box;
}
*:hover,
*:before:hover,
*:after *:after:hover {
  cursor: none !important;
}

h1,
h2,
h3,
h4,
h6 {
  font-family: "Inter" !important;
  font-weight: 400;
}

.center {
  text-align: center;
  margin: auto;
}

h5 {
  font-size: 7vh;
  color: #ffffff;
  font-weight: bolder;
}

h2 {
  font-size: 3.2;
}

h3 {
  font-size: 3.1;
}

img {
  max-width: 100%;
}

.container {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.col {
  padding: 1rem;
}

* {
  cursor: none;
}

p {
  font-size: 3vh;
}

.contentSections {
  color: white;
}

nav {
  padding-bottom: 30%;
}

#sec-resume button {
  background-color: #313030;
  color: #ffffff;
  font-size: 3vh;
}

.tab-content {
  text-align: center;
}

i {
  color: #2B2B2B;
}

.btn,
button {
  background-color: #ffffff !important;
  border: none;
  cursor: none;
  font-size: large !important;
  color: #2B2B2B !important;
}
.btn:hover,
button:hover {
  cursor: none !important;
}
.btn:active,
button:active {
  cursor: none !important;
}

.resume-btn {
  background-color: #2B2B2B !important;
  color: #ffffff !important;
  font-size: 4vh !important;
}

.resume-btn-group {
  border-right: 3px solid #ffffff;
}

.my-3 margin {
  top: 3%;
  bottom: 3%;
}

h1 {
  font-size: 8vh;
}

.form-controls {
  margin-top: 1.5vh;
  margin-bottom: 2vh;
  color: #ffffff !important;
  background-color: #2B2B2B !important;
  border: none !important;
  border-bottom: #ffffff !important;
}
.form-controls textarea {
  width: 100%;
}
.form-controls ::placeholder {
  color: #ffffff !important;
  opacity: 1;
  border: none !important;
}
.form-controls:active {
  background-color: #2B2B2B !important;
  color: #ffffff !important;
  border: none !important;
}
.form-controls:focus {
  background-color: #2B2B2B !important;
  color: #ffffff !important;
  border: none !important;
}

.column-2 {
  text-align: center;
}
.column-2 ul li {
  list-style: none;
}

.fp-watermark {
  display: none;
}

span {
  background-color: #ffffff !important;
}

.nav-list a {
  font-size: 13vh !important;
  text-decoration: none !important;
  color: #ffffff !important;
  text-decoration: none !important;
}
.nav-list a:hover {
  border-right: 5px solid #ffffff;
  padding-right: 5%;
  padding-left: 5%;
  transition: 1;
}

.img-fluid {
  /* or to whatever you want here */
  max-height: 40vh;
  /* or to whatever you want here */
}

.btn-close {
  background-color: #ffffff;
}

.row.single-form {
  box-shadow: 0 2px 20px -5px #2B2B2B;
}

.left {
  background: #313030;
  padding: 180px 98px;
}

.left h2 {
  font-family: poppins;
  color: #fff;
  font-weight: 700;
  font-size: 48px;
}

.left h2 span {
  font-weight: 100;
}

.single-form {
  background: #ffffff;
}

.right {
  padding: 50px 100px;
  position: relative;
}

.right i {
  position: absolute;
  font-size: 80px;
  left: -27px;
  top: 40%;
  color: #ffffff;
}

.form-control {
  border: 2px solid #2B2B2B;
}

.right button {
  border: none;
  border-radius: 0;
  background: #252525;
  width: 180px;
  color: #ffffff;
  padding: 15px 0;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
}

.right button:hover {
  background-color: #313030;
}

/*responsive*/
@media (min-width: 768px) and (max-width: 991px) {
  .right i {
    top: -52px;
    transform: rotate(90deg);
    left: 50%;
  }
}
@media (max-width: 767px) {
  .left {
    padding: 90px 15px;
    text-align: center;
  }
  .left h2 {
    font-size: 25px;
  }
  .right {
    padding: 25px;
  }
  .right i {
    top: -52px;
    transform: rotate(90deg);
    left: 46%;
  }
  .right button {
    width: 150px;
    padding: 12px 0;
  }
}
label {
  color: #2B2B2B !important;
}

input ::placeholder {
  color: #2B2B2B !important;
}

.btn-primary {
  border: 2px solid #2B2B2B !important;
  text-align: center;
}

.section-title {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 999;
}

.section h1 {
  position: absolute;
  top: 20px;
  left: 20px;
}

.section .text-container {
  max-width: 800px;
  margin: 0 auto;
  padding-left: 1vw;
  padding-right: 1vw;
}

.navbar-toggler-icon {
  width: 3em;
  height: 3em;
}

.pic-me {
  max-height: 55vh;
  width: 45% !important;
  border: 5vh solid #313030;
}

center img {
  height: 50vh !important;
}

.fp-tooltip {
  font-size: 1.5em !important;
  margin-right: 1vw !important;
}

@media screen and (max-width: 1280px) {
  .pic-me {
    max-height: 60vh;
    width: 60% !important;
    border: 5vh solid #313030;
  }
  .section .text-container {
    max-width: 800px;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .text-about {
    font-size: 2.5vh !important;
  }
  .section h1 {
    position: static;
  }
  .header {
    font-size: 9vh !important;
  }
}
@media screen and (max-width: 1300px) {
  .resume-btn-group {
    border-right: none !important;
  }
  div .tab-content h2 {
    font-size: 3vh !important;
  }
  div .tab-content h3 {
    font-size: 2vh;
  }
  div .tab-content p {
    font-size: 2vh;
  }
  .resume-btn {
    font-size: 3vh !important;
  }
}
@media screen and (max-width: 980px) {
  .resume-button {
    border: 2px solid #ffffff !important;
  }
  .text-about {
    font-size: 2vh !important;
  }
  .header {
    font-size: 7vh !important;
    max-width: 80% !important;
  }
  .pic-me {
    max-height: 55vh;
    width: 55% !important;
    border: 5vh solid #313030;
  }
}
@media screen and (max-width: 810px) {
  .py-5 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  div .tab-content h2 {
    font-size: 2.25vh !important;
  }
  div .tab-content h3 {
    font-size: 1.6vh;
  }
  div .tab-content p {
    font-size: 1.6vh;
  }
  div .tab-content h4 {
    font-size: 1.6vh;
  }
  .my-3 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    font-size: 2.5vh !important;
  }
  h1 {
    font-size: 7vh;
  }
  .resume-btn-group {
    margin-bottom: 5vh !important;
  }
  .circle,
  .cursor-dot-outline,
  .cursor-dot {
    display: none;
  }
  .text-about {
    margin-left: 2vw;
    margin-right: 4vw;
  }
  * {
    cursor: default;
  }
  .pic-me {
    max-height: 45vh;
    width: 50% !important;
    border: 5vh solid #313030;
  }
}
@media screen and (max-width: 600px) {
  .nav-list a {
    font-size: 9vh !important;
  }
  .offcanvas-body {
    padding-top: 20% !important;
  }
}
@media screen and (max-width: 480px) {
  h1 {
    font-size: 6vh;
  }
  .text-about {
    font-size: 1.4vh !important;
  }
  .header {
    font-size: 5vh !important;
    max-width: 80% !important;
  }
  .pic-me {
    max-height: 80vh;
    width: 85% !important;
    border: 5vh solid #313030;
  }
}
.card-title {
  font-size: 4vh;
}

.card-text {
  font-size: 2vh;
}

.card {
  height: 55vh;
}/*# sourceMappingURL=index.css.map */