
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400|Raleway:300);
$open-sans: 'Open Sans', Helvetica, arial, sans-serif;
$raleway: 'Raleway', 'Open Sans', sans-serif;
$cursor-color-main: #ffffff;
$cursor-color-light:  #333333;

$primary-color-main: #2B2B2B;
$secondary-color-main: #313030;
$accent-color-main: #ffffff;
$font-color-main: #ffffff;



.cursor-dot,
.cursor-dot-outline {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out;
    mix-blend-mode: difference;
    transition: transform .2s;
    z-index: 9999 !important;
}

.cursor-dot {
    width: 8px;
    height: 8px;
    background-color: $cursor-color-main;
}

.cursor-dot-outline {
    position: absolute;
    border: solid 3px $cursor-color-main;
    width: 30px;
    height: 30px;
    border-radius: 50%;
        z-index: 9999 !important;
}


